In [1]:
import numpy as np
import pandas as pd

train_genre_df = pd.read_csv('trainGenre.csv')
train_genre_df.head()

,Unnamed: 0,UserID,MovieID,Rating,G_F,G_M,A_1,A_18,A_25,A_35,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,1.0,1193.0,5.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2.0,1193.0,5.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,12.0,1193.0,4.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,15.0,1193.0,4.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,17.0,1193.0,5.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [2]:
train_genre_df.shape

(1000386, 56)

In [3]:
new_train_genre_df = train_genre_df.drop('UserID', axis=1)
new_train_genre_df = new_train_genre_df.drop('MovieID', axis=1)
new_train_genre_df.head()

,Unnamed: 0,Rating,G_F,G_M,A_1,A_18,A_25,A_35,A_45,A_50,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,5.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,5.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,4.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,4.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,5.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
# figure out where the NaN values are and drop their rows
import math
print new_train_genre_df.shape

drop_indices = []
for ind, row in new_train_genre_df.iterrows():
    if math.isnan(row['Rating']):
        drop_indices.append(ind)
print drop_indices

(1000386, 54)
[1000209, 1000210, 1000211, 1000212, 1000213, 1000214, 1000215, 1000216, 1000217, 1000218, 1000219, 1000220, 1000221, 1000222, 1000223, 1000224, 1000225, 1000226, 1000227, 1000228, 1000229, 1000230, 1000231, 1000232, 1000233, 1000234, 1000235, 1000236, 1000237, 1000238, 1000239, 1000240, 1000241, 1000242, 1000243, 1000244, 1000245, 1000246, 1000247, 1000248, 1000249, 1000250, 1000251, 1000252, 1000253, 1000254, 1000255, 1000256, 1000257, 1000258, 1000259, 1000260, 1000261, 1000262, 1000263, 1000264, 1000265, 1000266, 1000267, 1000268, 1000269, 1000270, 1000271, 1000272, 1000273, 1000274, 1000275, 1000276, 1000277, 1000278, 1000279, 1000280, 1000281, 1000282, 1000283, 1000284, 1000285, 1000286, 1000287, 1000288, 1000289, 1000290, 1000291, 1000292, 1000293, 1000294, 1000295, 1000296, 1000297, 1000298, 1000299, 1000300, 1000301, 1000302, 1000303, 1000304, 1000305, 1000306, 1000307, 1000308, 1000309, 1000310, 1000311, 1000312, 1000313, 1000314, 1000315, 1000316, 1000317, 1000318, 1000319, 1000320, 1000321, 1000322, 1000323, 1000324, 1000325, 1000326, 1000327, 1000328, 1000329, 1000330, 1000331, 1000332, 1000333, 1000334, 1000335, 1000336, 1000337, 1000338, 1000339, 1000340, 1000341, 1000342, 1000343, 1000344, 1000345, 1000346, 1000347, 1000348, 1000349, 1000350, 1000351, 1000352, 1000353, 1000354, 1000355, 1000356, 1000357, 1000358, 1000359, 1000360, 1000361, 1000362, 1000363, 1000364, 1000365, 1000366, 1000367, 1000368, 1000369, 1000370, 1000371, 1000372, 1000373, 1000374, 1000375, 1000376, 1000377, 1000378, 1000379, 1000380, 1000381, 1000382, 1000383, 1000384, 1000385]

In [5]:
#check is theres any NaN values
new_train_genre_df = new_train_genre_df.drop(new_train_genre_df.index[drop_indices])
print new_train_genre_df.isnull().values.any()

False

In [6]:
cols = new_train_genre_df.columns
cols = cols.drop('Unnamed: 0')
feature_cols = cols.drop('Rating')
print feature_cols

X = new_train_genre_df[feature_cols]
Y = new_train_genre_df['Rating']

from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn.linear_model import LinearRegression
mlreg = LinearRegression()
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=1)
mlreg.fit(X_train, Y_train)
Y_pred = mlreg.predict(X_test)

Index([u'G_F', u'G_M', u'A_1', u'A_18', u'A_25', u'A_35', u'A_45', u'A_50',
       u'A_56', u'O_0', u'O_1', u'O_2', u'O_3', u'O_4', u'O_5', u'O_6', u'O_7',
       u'O_8', u'O_9', u'O_10', u'O_11', u'O_12', u'O_13', u'O_14', u'O_15',
       u'O_16', u'O_17', u'O_18', u'O_19', u'O_20', u'MovieVec', u'Intercept',
       u'MovieAvg', u'UserAvg', u'Action', u'Adventure', u'Animation',
       u'Children's', u'Comedy', u'Crime', u'Documentary', u'Drama',
       u'Fantasy', u'Film-Noir', u'Horror', u'Musical', u'Mystery', u'Romance',
       u'Sci-Fi', u'Thriller', u'War', u'Western'],
      dtype='object')

C:\Users\Mobremius\Anaconda2\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [7]:
print np.sqrt(metrics.mean_squared_error(Y_test, Y_pred))
print metrics.mean_squared_error(Y_test, Y_pred)

0.874181154834
0.764192691466

In [12]:
columns = ['G_F', 'G_M', 'A_1', 'A_18', 'A_25', 'A_35', 'A_45', 'A_50',
       'A_56', 'O_0', 'O_1', 'O_2', 'O_3', 'O_4', 'O_5', 'O_6', 'O_7',
       'O_8', 'O_9', 'O_10', 'O_11', 'O_12', 'O_13', 'O_14', 'O_15',
       'O_16', 'O_17', 'O_18', 'O_19', 'O_20', 'MovieVec', 'Intercept',
       'MovieAvg', 'UserAvg', 'Action','Adventure', 'Animation',
       'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama',
       'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance',
       'Sci-Fi', 'Thriller', 'War', 'Western']
#print mlreg.coef_
zip(columns, mlreg.coef_)

[('G_F', -605016.11348138982),
 ('G_M', -605016.10013134137),
 ('A_1', 447866372.13149077),
 ('A_18', 447866372.17803359),
 ('A_25', 447866372.13705331),
 ('A_35', 447866372.09812421),
 ('A_45', 447866372.08439553),
 ('A_50', 447866372.06645024),
 ('A_56', 447866372.04581928),
 ('O_0', -1576273641.4344823),
 ('O_1', -1576273641.4856997),
 ('O_2', -1576273641.4857185),
 ('O_3', -1576273641.4435945),
 ('O_4', -1576273641.4619653),
 ('O_5', -1576273641.3963649),
 ('O_6', -1576273641.4501898),
 ('O_7', -1576273641.4606204),
 ('O_8', -1576273641.36147),
 ('O_9', -1576273641.4375019),
 ('O_10', -1576273641.3769119),
 ('O_11', -1576273641.5225246),
 ('O_12', -1576273641.4850419),
 ('O_13', -1576273641.4777579),
 ('O_14', -1576273641.455725),
 ('O_15', -1576273641.5241084),
 ('O_16', -1576273641.4491892),
 ('O_17', -1576273641.4514623),
 ('O_18', -1576273641.3851676),
 ('O_19', -1576273641.4350638),
 ('O_20', -1576273641.4737067),
 ('MovieVec', 0.93431389331817627),
 ('Intercept', 11725945218.460909),
 ('MovieAvg', 0.83343225717544556),
 ('UserAvg', -0.009882122278213501),
 ('Action', 0.027001053094863892),
 ('Adventure', 0.016017615795135498),
 ('Animation', -0.046402238309383392),
 ("Children's", 0.054877340793609619),
 ('Comedy', 0.030812382698059082),
 ('Crime', -0.023650705814361572),
 ('Documentary', -0.23838706081733108),
 ('Drama', -0.087879538536071777),
 ('Fantasy', 0.023671962320804596),
 ('Film-Noir', -0.16489686071872711),
 ('Horror', 0.16835054755210876),
 ('Musical', -0.052224904298782349),
 ('Mystery', -0.017190854996442795),
 ('Romance', -0.0066236257553100586),
 ('Sci-Fi', 0.015254497528076172),
 ('Thriller', 0.0019084513187408447),
 ('War', -0.071436837315559387),
 ('Western', -0.02556079626083374)]

In [21]:
from sklearn import preprocessing
users = pd.read_csv("users_avg.csv")
del users['Zip-code']
del users['Average']
le = preprocessing.LabelEncoder()
le.fit(['F', 'M'])
le2 = preprocessing.LabelEncoder()
le2.fit([1, 18, 25, 35, 45, 50, 56])
gendersNew = le.transform(users['Gender'].as_matrix())
users['Gender'] = gendersNew
ageNew = le2.transform(users['Age'].as_matrix())
users['Age'] = ageNew
users.head()

   UserID  Gender  Age  Occupation
0       1       0    0          10
1       2       1    6          16
2       3       1    2          15
3       4       1    4           7
4       5       1    2          20

In [28]:
dropColumns = ['G_F', 'G_M', 'A_1', 'A_18', 'A_25', 'A_35', 'A_45', 'A_50',
       'A_56', 'O_0', 'O_1', 'O_2', 'O_3', 'O_4', 'O_5', 'O_6', 'O_7',
       'O_8', 'O_9', 'O_10', 'O_11', 'O_12', 'O_13', 'O_14', 'O_15',
       'O_16', 'O_17', 'O_18', 'O_19', 'O_20']
train2 = train_genre_df.copy()
train2 = train2.drop(dropColumns, axis=1)
train2.head()

,Unnamed: 0,UserID,MovieID,Rating,MovieVec,Intercept,MovieAvg,UserAvg,Action,Adventure,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,1.0,1193.0,5.0,4.428571,1.0,4.390725,4.188679,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2.0,1193.0,5.0,3.898734,1.0,4.390725,3.703125,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,12.0,1193.0,4.0,4.333333,1.0,4.390725,3.772727,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,15.0,1193.0,4.0,3.481013,1.0,4.390725,3.310000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,17.0,1193.0,5.0,4.144928,1.0,4.390725,4.038095,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
train3 = pd.merge(train2, users, on='UserID', how='outer')
train3.head()

,Unnamed: 0,UserID,MovieID,Rating,MovieVec,Intercept,MovieAvg,UserAvg,Action,Adventure,...,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,Gender,Age,Occupation
0,0,1.0,1193.0,5.0,4.428571,1.0,4.390725,4.188679,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
1,1725,1.0,661.0,3.0,4.215608,1.0,3.464762,4.188679,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
2,2250,1.0,914.0,3.0,3.976190,1.0,4.154088,4.188679,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
3,2886,1.0,3408.0,4.0,4.428571,1.0,3.863878,4.188679,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
4,4201,1.0,2355.0,5.0,4.167989,1.0,3.854375,4.188679,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0

In [30]:
drop_indices = []
for ind, row in train3.iterrows():
    if math.isnan(row['Rating']):
        drop_indices.append(ind)
print drop_indices

train3 = train3.drop(train3.index[drop_indices])
print train3.isnull().values.any()

[1000209, 1000210, 1000211, 1000212, 1000213, 1000214, 1000215, 1000216, 1000217, 1000218, 1000219, 1000220, 1000221, 1000222, 1000223, 1000224, 1000225, 1000226, 1000227, 1000228, 1000229, 1000230, 1000231, 1000232, 1000233, 1000234, 1000235, 1000236, 1000237, 1000238, 1000239, 1000240, 1000241, 1000242, 1000243, 1000244, 1000245, 1000246, 1000247, 1000248, 1000249, 1000250, 1000251, 1000252, 1000253, 1000254, 1000255, 1000256, 1000257, 1000258, 1000259, 1000260, 1000261, 1000262, 1000263, 1000264, 1000265, 1000266, 1000267, 1000268, 1000269, 1000270, 1000271, 1000272, 1000273, 1000274, 1000275, 1000276, 1000277, 1000278, 1000279, 1000280, 1000281, 1000282, 1000283, 1000284, 1000285, 1000286, 1000287, 1000288, 1000289, 1000290, 1000291, 1000292, 1000293, 1000294, 1000295, 1000296, 1000297, 1000298, 1000299, 1000300, 1000301, 1000302, 1000303, 1000304, 1000305, 1000306, 1000307, 1000308, 1000309, 1000310, 1000311, 1000312, 1000313, 1000314, 1000315, 1000316, 1000317, 1000318, 1000319, 1000320, 1000321, 1000322, 1000323, 1000324, 1000325, 1000326, 1000327, 1000328, 1000329, 1000330, 1000331, 1000332, 1000333, 1000334, 1000335, 1000336, 1000337, 1000338, 1000339, 1000340, 1000341, 1000342, 1000343, 1000344, 1000345, 1000346, 1000347, 1000348, 1000349, 1000350, 1000351, 1000352, 1000353, 1000354, 1000355, 1000356, 1000357, 1000358, 1000359, 1000360, 1000361, 1000362, 1000363, 1000364, 1000365, 1000366, 1000367, 1000368, 1000369, 1000370, 1000371, 1000372, 1000373, 1000374, 1000375, 1000376, 1000377, 1000378, 1000379, 1000380, 1000381, 1000382, 1000383, 1000384, 1000385]
False

In [31]:
train4 = train3.copy()
del train4['UserID']
del train4['MovieID']
train4.head()

,Unnamed: 0,Rating,MovieVec,Intercept,MovieAvg,UserAvg,Action,Adventure,Animation,Children's,...,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,Gender,Age,Occupation
0,0,5.0,4.428571,1.0,4.390725,4.188679,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
1,1725,3.0,4.215608,1.0,3.464762,4.188679,0.0,0.0,1.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
2,2250,3.0,3.976190,1.0,4.154088,4.188679,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
3,2886,4.0,4.428571,1.0,3.863878,4.188679,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
4,4201,5.0,4.167989,1.0,3.854375,4.188679,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0

In [32]:
cols = train4.columns
cols = cols.drop('Unnamed: 0')
feature_cols = cols.drop('Rating')
print feature_cols

X4 = train4[feature_cols]
Y4 = train4['Rating']


mlreg4 = LinearRegression()
X_train4, X_test4, Y_train4, Y_test4 = train_test_split(X4, Y4, test_size=0.33, random_state=1)
mlreg4.fit(X_train4, Y_train4)
Y_pred4 = mlreg4.predict(X_test4)

Index([u'MovieVec', u'Intercept', u'MovieAvg', u'UserAvg', u'Action',
       u'Adventure', u'Animation', u'Children's', u'Comedy', u'Crime',
       u'Documentary', u'Drama', u'Fantasy', u'Film-Noir', u'Horror',
       u'Musical', u'Mystery', u'Romance', u'Sci-Fi', u'Thriller', u'War',
       u'Western', u'Gender', u'Age', u'Occupation'],
      dtype='object')

In [33]:
print np.sqrt(metrics.mean_squared_error(Y_test4, Y_pred4))
print metrics.mean_squared_error(Y_test4, Y_pred4)

0.874514825375
0.7647761798

In [34]:
zip(feature_cols, mlreg4.coef_)

[('MovieVec', 0.93214454143753245),
 ('Intercept', 0.0),
 ('MovieAvg', 0.83175271200157597),
 ('UserAvg', -0.010710350224223175),
 ('Action', 0.026764583974715761),
 ('Adventure', 0.016577089657548449),
 ('Animation', -0.052435063088664496),
 ("Children's", 0.064784422574920675),
 ('Comedy', 0.028992925877427245),
 ('Crime', -0.024197932763387379),
 ('Documentary', -0.24194066840746262),
 ('Drama', -0.089705732999007415),
 ('Fantasy', 0.017001181773766458),
 ('Film-Noir', -0.16836353039090529),
 ('Horror', 0.16422329364672145),
 ('Musical', -0.050040684218621602),
 ('Mystery', -0.025505244261028834),
 ('Romance', -0.006103221413022164),
 ('Sci-Fi', 0.014590463632123712),
 ('Thriller', 0.0036467735151573394),
 ('War', -0.066321182478718127),
 ('Western', -0.018656397653180133),
 ('Gender', 0.011826739926466535),
 ('Age', -0.026077472969017794),
 ('Occupation', -0.0003652148905155736)]

In [35]:
train3.to_csv('trainGenre2.csv')